.container {
    background-color: white;
    margin: 50px 0px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 30px;
}

.about {
    &-me {
        padding: 30px;
        min-width: 850px;
        min-height: 300px;

        h2 {
            text-transform: capitalize;
            position: relative;

            span {
                width: 90px;
                border-bottom: 8px solid $color-line;
                position: absolute;
                bottom: -6px;
            }
        }
        .major-desc{
            padding: 10px;
        }
        h3{
            span{
                font-style: italic;
                font-weight: 400;
            }
        }
        p {
            padding-top: 30px;
        }
    }
}

.progressBar {
    width: 200px;
    height: 8px;
    margin: 30px 0 2px;
    border-radius: 10px;
    ;
    background-color: rgb(202, 202, 202);

    div {
        height: 8px;
        background-color: $color-primary;
        border-radius: 5px 0px 0px 5px;
    }
}

.skills {
    padding: 30px;
    background-color: #fafafa;

    h3 {
        text-align: center;
        font-weight: 600;
        font-style: italic;
        font-size: 17px;
        margin-top: 50px;
    }

    &-heading {
        position: relative;

        span {
            width: 60px;
            border-bottom: 8px solid $color-line;
            position: absolute;
            bottom: -6px;
        }
    }

    &-technical {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0px;
    }

    &-add {
        display: flex;
        padding: 20px 0px;
        justify-content: space-around;
    }

    &-logo {
        color: $gray-light;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            transform: scale(1.1);
            transition: ease-in .1s;
        }
    }
}

.technical {
    &-item {}

    &-info {
        display: flex;
        justify-content: space-between;

        &:hover {
            transform: scale(1.1);
            transition: ease-in .2s;
            border-radius: 5px;
        }
    }

    &-name {
        ion-icon {
            padding: 0px 10px;
        }

        font-weight: 600;
        font-weight: bold;
        color: black;
    }

}

.hidden {
    display: none;
}
// CONTACT
.container-contact{
    padding: 20px;
}
.contact {
    &-top {
        h2{
            text-align: center;
            position: relative;
        }
        span{
            position: absolute;
            bottom: -2px;
            width: 110px;
            background-color: $color-line;
            height: 5px;
        }
    }

    &-list {
        display: flex;
        gap: 30px;
        margin: 50px 0px ;
        justify-content: center;
    }

    &-item {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 30%;
        border-radius: 10px;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        h3{
            margin-top: 20px;
        }
        p{
            text-align: center;
        }
    }

    &-icon {
        padding: 20px;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 30px;
        color: $color-primary;
        
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input,textarea{
            outline: none;
            padding: 10px 20px;
            border-radius: 5px;
            border: 2px solid $color-primary;
        }
    }

    &-map {}
}

.content {
    &-bottom {
        display: flex;
        justify-content: space-around;
    }
}

.form {
    &-group {
        display: flex;
        gap: 20px;
    }
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    border-radius: 20px;
    .icon-send{
        margin-left: 10px;
    }
    &:hover .icon-send{
        transform: translateX(5px);
        transition: ease-in-out .2s;
        font-size: 20px;
    }
}
